body {
  font-family: sans-serif;
  padding-left: 20px;
}

h1 {
  color: #95C674;
}

.column {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  margin-bottom: 20px;
}
