body {
  font-family: sans-serif;
  padding: 20px;
}

.header1 {
  margin: 0;
  padding: 0;
  color: #5d8a3f;
  font-size: 27px;
  margin-bottom: 12px;
}

.header2 {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  margin-bottom: 9px;
}

.header3 {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 21px;
  margin-bottom: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 18px;
}

.link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.back-link {
  margin-bottom: 40px;
}

.link-index {
  margin-bottom: 10px;
}